/* Convert a portrait image into a profile like circular image*/
    .circular--portrait {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;           /* crops out any part of the image that's outside the width and height requirements */
        border-radius: 5%;         /* creates a circular image from width and height requirements */
        border: thin silver solid;  /* adds a thin solid silver border around circular image*/
    }

    figure {
        text-align: center;
        display: table;
        float: left;
    }

    figcaption {
        display: table-caption;
        caption-side: bottom;
    }

    figure figcaption p {
        margin: 0px;
    }
    figure figcaption a{
        float: left;
        margin: 5px;
    }

    /*  Instagram logo styling*/
    .fa {
        padding: 0px;
        font-size: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px
    }

    .fa:hover {
        opacity: 0.7;
    }
